nav(class="navbar navbar-expand-lg navbar-light bg-light")
  a.navbar-brand(href="/") Cosmos
  div.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a(href="/analyze", class="nav-link")
          i.ion-location 
          | Carte
      li.nav-item
        a(href="/list", class="nav-link")
          i.ion-navicon 
          | Liste
