html(lang='en')
  head
    title Cosmos - List
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    link(rel="stylesheet", href="css/master.css")
  body(onload=items.loader)

    include includes/nav.pug

    div.container-fluid(style="margin-top: 20px")
      div.row
        div.col-sm-3
          div.form-group
            input(type="input", class="form-control", id="newCamera", placeholder="Url du flux vidéo")
            button(type="submit", class="btn btn-default" id="newCameraSubmit") Ajouter
        div#list.col-sm-9
          ul.list-group
            each camera in items.cameras
              - var cameraUrlAPI = '/cameras/' + camera._id;
              - var cameraUrlPage = '/camera/' + camera._id;
              if camera.geojson.properties.city
                li.list-group-item.
                  City : #{camera.geojson.properties.city},
                  ZIP : #{camera.geojson.properties.zip}
                  #[a(href=cameraUrlPage, target="_blank") Visionner] -
                  #[a(class="deleteCamera", id=cameraUrlAPI, style="cursor: pointer; color: #e55039;") Supprimer]
                  <span class="badge badge-secondary"> #{camera.geojson.properties.country} </span>
              else
                li.list-group-item.
                  City : Unknown city,
                  ZIP : #{camera.geojson.properties.zip} -
                  #[a(href=cameraUrlPage, target="_blank") Visionner] -
                  #[a(class="deleteCamera", id=cameraUrlAPI, style="cursor: pointer; color: #e55039;") Supprimer]
                  <span class="badge badge-secondary"> #{camera.geojson.properties.country} </span>
    script(src="/dist/bundle.js")
