#tabs
{
    margin-top: 20px;
    margin-bottom: 110px;
}

a
{
	border-radius: 0px;
}

#mapBox
{
	width: 100%;
	height: 500px;
}
#mapView
{
	width: 100%;
	height: 170px;
}

#sequencerBox #fullscreen {
	display: none;
    height: 700px;
}
#sequencerBox {
	width: 100%;
	height: 100%;
}
#sequencerBox img {
	cursor: pointer;
}

.seqGallery img {
	width: 100%;
}